<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jihoo.hoons_cook_class_v3">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ice_cube"></activity>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".show_cook_list"></activity>
        <activity android:name=".Sign"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".Splash"></activity>
        <activity android:name=".select_main_item"></activity>
        <activity android:name=".Show_recipe"></activity>
    </application>

</manifest>